.pagination-bar-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: $side-container-width;
  text-align: right;
  font-family: $sans-preferred-font-list;
  padding: 20px 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.pagination {
  display: none;

  body.night & * {
    color: var(--color-text);
  }

  .pagination-action {
    -webkit-appearance: none; // Fix bootstrap set the appearance to button.
  }

  @media screen and (max-width: $single-column-max-width) {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;

    &:not(.index-page) {
      margin-top: 15px;
    }

    .pagination-indicator {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      width: $extra-container-width;
      padding: 15px 0;
      font-size: 12px;
      font-family: $mono-font-list;
    }

    .pagination-action {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      width: $extra-container-pagination-width;
      cursor: hand;
      cursor: pointer;
      padding: 15px 0;

      :not(.pagination-action-icon) {
        transition: all 0.2s linear;
        font-size: 13px;
        font-family: $mono-font-list;
      }

      .pagination-action-icon {
        // margin-right: 4px;
      }

      * {
        transition: all 0.3s linear;
      }

      &:hover {
        text-decoration: none;

        * {
          color: var(--emphasis-accent);
        }
      }
    }
  }
}
