.toc {
  float: right;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  min-width: 200px;
  max-width: 260px;
  max-height: 80vh;
  overflow: auto;
  background: rgba($color-accent, 0.05);

  &,
  * {
    font-size: $toc-size;
  }

  body.night & * {
    color: var(--color-text);
  }

  ul {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    line-height: 1.7em;
  }

  .toc-content {
    padding: 20px;
  }

  .toc-active {
    color: darken($color-accent, 40%);

    body.night & {
      color: var(--emphasis-accent);
    }
  }

  @media screen and (max-width: $single-column-max-width) {
    line-height: 2em;
    float: none;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;

    &,
    * {
      // font-size: $single-column-toc-size;
    }

    .toc-content {
      padding: 10px;
    }
  }
}
