<div ref="sideContainer" class="side-container">
    {{ if eq .Title .Site.Title}}
    <a class="a-block nav-head active" href="{{.Site.BaseURL}}">
    {{ else }}
    <a class="a-block nav-head false" href="{{.Site.BaseURL}}">
    {{ end }}
        <div class="nav-title">
            {{.Site.Title}}
        </div>
        {{ with .Site.Params.subtitle }}
        <div class="nav-subtitle">
            {{.}}
        </div>
        {{ end }}
    </a>

    <div class="nav-link-list">
        {{ $current := .Permalink}}
        {{range $taxonomyname, $taxonomy := .Site.Taxonomies}}
            
            {{ with $.Site.GetPage (printf "/%s" $taxonomyname) }}

            {{$actived := "false"}}
                {{if eq $current .Permalink}}
                    {{$actived = "active"}}
                    
                {{end}}
                <a class="a-block nav-link-item {{$actived}}" href="{{.Permalink}}">
                    {{.Title}}
                </a>
            {{ end }}
        {{ end }}
    </div>


    <div class="nav-footer">
        {{partial "copyright.html" .}}
    </div>
    
</div>